<%- include('adminHeader'); -%>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<%- include('adminNav'); -%>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
    </div>

    <%- include('adminFooter'); -%>

  </div>
</body>

</html>
