{% extends 'base.html' %}
{% load static %}

  {% block content %}

    <!-- slider Area Start -->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height" data-background="{% static './assets/img/hero/h1_hero.jpg' %}">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="{% static './assets/img/hero/hero_woman.png' %}" alt="">
                            </div>
                        </div>
                        {% for text in banner %}
                          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                              <div class="hero__caption">
                                  <span data-animation="fadeInRight" data-delay=".4s">{{text.medium_text}}</span>
                                  <h1 data-animation="fadeInRight" data-delay=".6s">{{text.large_text1}} <br> {{text.large_text2}}</h1>
                                  <p data-animation="fadeInRight" data-delay=".8s">{{text.small_text}}</p>
                                  <!-- Hero-btn -->
                                  <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                      <a href="{% url 'shop:product' %}" class="btn hero-btn">Shop Now</a>
                                  </div>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--<div class="single-slider slider-height" data-background="assets/img/hero/h1_hero.jpg">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="assets/img/hero/hero_woman.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s">Upto 60% Discount</span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">Winter <br> Collection</h1>
                                <p data-animation="fadeInRight" data-delay=".8s">Best Cloth Collection By 2020!</p>
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
    <!-- slider Area End-->
    <!-- Category Area Start-->
    <section class="category-area section-padding30">
        <div class="container-fluid">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-85">
                        <h2>Shop by Category</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="{% static './assets/img/categori/cat1.jpg' %}" alt="">
                            <div class="category-caption">
                                <h2>Kids</h2>
                                <span class="best"><a href="{% url 'shop:product' %}">Best New Deals</a></span>
                                <span class="collection">New Collection</span>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30">
                        <div class="category-img text-center">
                            <img src="{% static 'assets/img/categori/cat2.jpg' %}" alt="">
                            <div class="category-caption">
                                <h2>Women's</h2>
                                <span class="best"><a href="{% url 'shop:product' %}">Best New Deals</a></span>
                                <span class="collection">New Collection</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="{% static './assets/img/categori/cat3.jpg' %}" alt="">
                            <div class="category-caption">
                                <h2>Man`s Cloth</h2>
                                <span class="best"><a href="{% url 'shop:product' %}">Best New Deals</a></span>
                                <span class="collection">New Collection</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area End-->
    <!-- Latest Products Start -->
    <section class="latest-product-area padding-bottom">
        <div class="container">
            <div class="row product-btn d-flex justify-content-end align-items-end">
                <!-- Section Tittle -->
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="section-tittle mb-30">
                        <h2>Latest Products</h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="properties__button f-right">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Featured</a>
                                <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Offer</a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">

                        {% for product in data %}
                          <div class="col-xl-4 col-lg-4 col-md-6">
                              <div class="single-product mb-60">
                                  <div class="product-img">
                                      <img src="{{product.cover_image.url}}" alt="">
                                      <div class="new-product">
                                          <span>New</span>
                                      </div>
                                  </div>
                                  <div class="product-caption">
                                      <div class="product-ratting">
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star low-star"></i>
                                      </div>
                                      <h4><a href="{% url 'shop:detail' product.slug %}">{{product.title}}</a></h4>
                                      <div class="price">
                                          <ul>
                                              <li>${{product.new_price}}</li>
                                              <li class="discount">${{product.old_price}}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        {% endfor %}

                    </div>
                </div>

                <!-- Card two -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">

                        {% for product in new %}
                          <div class="col-xl-4 col-lg-4 col-md-6">
                              <div class="single-product mb-60">
                                  <div class="product-img">
                                      <img src="{{product.cover_image.url}}" alt="">
                                      <div class="new-product">
                                          <span>New</span>
                                      </div>
                                  </div>
                                  <div class="product-caption">
                                      <div class="product-ratting">
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star low-star"></i>
                                      </div>
                                      <h4><a href="{% url 'shop:detail' product.slug %}">{{product.title}}</a></h4>
                                      <div class="price">
                                          <ul>
                                              <li>${{product.new_price}}</li>
                                              <li class="discount">${{product.old_price}}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        {% endfor %}

                    </div>
                </div>

                <!-- Card three -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row">
                        {% for product in data %}
                          <div class="col-xl-4 col-lg-4 col-md-6">
                              <div class="single-product mb-60">
                                  <div class="product-img">
                                      <img src="{{product.cover_image.url}}" alt="">
                                      <div class="new-product">
                                          <span>New</span>
                                      </div>
                                  </div>
                                  <div class="product-caption">
                                      <div class="product-ratting">
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star low-star"></i>
                                      </div>
                                      <h4><a href="{% url 'shop:detail' product.slug %}">{{product.title}}</a></h4>
                                      <div class="price">
                                          <ul>
                                              <li>${{product.new_price}}</li>
                                              <li class="discount">${{product.old_price}}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        {% endfor %}

                    </div>
                </div>

                <!-- card foure -->
                <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                    <div class="row">

                        {% for product in data %}
                          <div class="col-xl-4 col-lg-4 col-md-6">
                              <div class="single-product mb-60">
                                  <div class="product-img">
                                      <img src="{{product.cover_image.url}}" alt="">
                                      <div class="new-product">
                                          <span>New</span>
                                      </div>
                                  </div>
                                  <div class="product-caption">
                                      <div class="product-ratting">
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star"></i>
                                          <i class="far fa-star low-star"></i>
                                      </div>
                                      <h4><a href="{% url 'shop:detail' product.slug %}">{{product.title}}</a></h4>
                                      <div class="price">
                                          <ul>
                                              <li>${{product.new_price}}</li>
                                              <li class="discount">${{product.old_price}}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- Latest Products End -->
    <!-- Best Product Start -->
    <div class="best-product-area lf-padding" >
       <div class="product-wrapper bg-height" style="background-image: url('{% static './assets/img/categori/card.png' %}')">
            <div class="container position-relative">
                <div class="row justify-content-between align-items-end">
                    <div class="product-man position-absolute  d-none d-lg-block">
                        <img src="{% static './assets/img/categori/card-man.png' %}" alt="">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 d-none d-lg-block">
                        <div class="vertical-text">
                            <span>SHOES</span>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="best-product-caption">
                            <h2>Find The Best Product<br> from Our Shop</h2>
                            <p>The Largest Online Foot-Wear Collection of the country.</p>
                            <a href="{% url 'shop:product' %}" class="black-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <!-- Shape -->
       <div class="shape bounce-animate d-none d-md-block">
           <img src="{% static './assets/img/categori/card-shape.png' %}" alt="">
       </div>
    </div>
    <!-- Best Product End-->

  {% endblock %}
