{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- slider Area Start-->
  <div class="slider-area ">
      <!-- Mobile Menu -->
      <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static './assets/img/hero/category.jpg' %}">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>reset password</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider Area End-->

  <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Reset Password Via Email!</h2>
                        <p>A Password Reset Link will be sent to you Email. Please visit your email to grab the link.</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="Enter your mail">
                            <a href="#" class="btn_1">Send Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
